<div class="row">
  <input type="text" id="quicksearch" placeholder="Search repositories" />
</div>
<div class="row">
  <div class="col col-xs-6 topicFilterTitle text-left">
    Filter by topic
  </div>
  <div class="col col-xs-6 text-right">
    <a class="topicFilterReset btn-clear">Reset search and filters</a>
  </div>
</div>
<div class="row">
  <div class="btn-group filter-btn-group">
    {% for topics in filterTopics %}
    {% assign topic = topics[1] %}
      <a class="btn btn-filter" data-filter=".{{topic.name}}">{{topic.name}}</a>
    {% endfor %}
    {% if includeForkTopicLabel == true %}
      <a class="btn btn-filter" data-filter=".fork">forks</a>
    {% endif %}
  </div>
</div>
<div class="row">
  <div class="col col-xs-s text-left repoCounter"></div>
  <div class="col col-xs-s text-right repoSelector">
    <select class="repoSorter">
      <option value="">Recently Updated</option>
      <option value="name">Name</option>
      <option value="topic">Topic</option>
      <option value="language">Language</option>
      <option value="license">License</option>
    </select>
  </div>
</div>