<script src="https://unpkg.com/isotope-layout@3.0/dist/isotope.pkgd.js"></script>
<script>
    // Search extrapolated from Search and Filter buttons sample on https://isotope.metafizzy.co/extras.html,
    // https://codepen.io/desandro/pen/ELyQMx
    // CodePen codes are MIT Licensed, see https://blog.codepen.io/documentation/licensing/
    // quick search regex
    var qsRegex;
    var buttonFilter;
    var searchVal;
    var sortVal = '';

    // init Isotope
    var $container = $(".card-container").isotope(
        {
            filter: function () {
                var $this = $(this);
                var searchResult = qsRegex ? $this.text().match(qsRegex) : true;
                var buttonResult = buttonFilter ? $this.is(buttonFilter) : true;
                return searchResult && buttonResult;
            },
            getSortData: {
                name: '.repo-name',
                topic: '.repo-topic',
                language: '.repo-language',
                license: '.repo-license'
            }
        });
    $(".btn-clear-topics").hide();
    // filter items on button click
    $(".filter-btn-group").on("click", "a", function () {
        var arr = [];
        $(".btn-group").find("a.active").map(function () {
            arr.push($(this).attr('data-filter'));
        })
        buttonFilter = (arr.length > 0) ? arr.join("") : "*";
        $container.isotope();
        $(".topicFilterReset").css("opacity", "50%");
        var elems = $container.isotope('getFilteredItemElements').length;
        $(".repoCounter").text(elems + " Repositories found");
    });
    var $repoSort = $(".repoSorter").on("change", function() {
        sortVal = $repoSort.val();
        $container.isotope({sortBy: sortVal});
    });
    // use value of search field to filter
    var $quicksearch = $("#quicksearch").keyup(debounce(function () {
        if ($quicksearch.val() == searchVal) {
            return;
        }
        qsRegex = new RegExp($quicksearch.val(), 'gi');
        $container.isotope();
        $(".topicFilterReset").css("opacity", "50%");
        searchVal = $quicksearch.val();
        var elems = $container.isotope('getFilteredItemElements').length;
        $(".repoCounter").text(elems + " Repositories found");
    }));
    // Toggle active or inactive
    $(".btn-group a.btn").on("click", function () {
        $(this).toggleClass("active");
    });
    $(".btn-clear").on("click", function() {
        $(".btn-group a.btn").removeClass("active");
        $("#quicksearch").val("");
        qsRegex = new RegExp($("#quicksearch").val(), 'gi');
        buttonFilter = "*";
        $container.isotope();
        $(".topicFilterReset").css("opacity", "10%");
        var elems = $container.isotope('getFilteredItemElements').length;
        $(".repoCounter").text(elems + " Repositories found");
    });
    $(document).ready(function() {
        var elems = $container.isotope('getFilteredItemElements').length;
        $(".repoCounter").text(elems + " Repositories found");
    });
    // debounce so filtering doesn't happen every millisecond
    function debounce(fn, threshold) {
        var timeout;
        threshold = threshold || 100;
        return function debounced() {
            clearTimeout(timeout);
            var args = arguments;
            var _this = this;
            function delayed() {
                fn.apply(_this, args);
            }
            timeout = setTimeout(delayed, threshold);
        };
    }

</script>