<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

{%- include head.html -%}

<body>

  {%- include hcl_header.html -%}

  <section class="banner-section pnp-ui-banner">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="open-intro">
            Open source @&nbsp;<img src="https://www.hcltechsw.com/hclf/img/hcl-symbol.png" class="img-responsive"
              style="height: 10px;" />
          </div>
          <div class="open-title">Impactful collaboration</div>
          <div class="open-body">
            Open source is a critical part of building valuable software for the future. HCL Software consume and
            contribute to open source to benefit our customers, our developers and the community.
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="container">
    {%- include searchUI.html -%}

    <div class="card-container row">
      {% assign repos = site.data.repoData | where:"private", false %}
      {% for repo in repos %}
      {% if repo.fork == true %}
      {% assign fork = " fork" %}
      {% else %}
      {% assign fork = "" %}
      {% endif %}
      {%- include repo-contents.html -%}
      {% endfor %}
    </div>
  </div>

  {%- include footer.html -%}

  {%- include searchCode.html -%}

</body>

</html>