<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

{%- include head.html -%}

<body>

  {%- include header.html -%}

  <div class="py-3">
    <div class="container">
      <div class="row" id="navigation" class="product_link">
        <h2>Our Products</h2>
      </div>
      <div class="row">
        <a href="{{site.baseurl}}/domino" class="btn btn-info">Domino</a>
        <a href="{{site.baseurl}}/connections" class="btn btn-info">Connections</a>
        <a href="{{site.baseurl}}/voltmx" class="btn btn-info">Volt MX</a>
      </div>
      <br/>

      <div class="row" class="product_link">
        <h2>Our Repositories</h2>
      </div>
      {%- include searchUI.html -%}

      <div class="grid row">
        {% assign repos = site.data.repoData | where:"private", false %}
        {% for repo in repos %}
          {% if repo.fork == true %}
            {% assign fork = " fork" %}
          {% else %}
            {% assign fork = "" %}
          {% endif %}
          <div class='col col-md-4sm repo{{fork}} {{repo.topics | join: " "}}' id="{{repo.name}}">
            <h4><a href="{{repo.url}}">{{repo.name}}</a></h4>
            {{repo.description}}<br />
            <b>License: </b>{{repo.license}}<br />
            <b>Language: </b>{{repo.language}}<br />
            <b>Topics: </b>{{repo.topics | array_to_sentence_string}}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  {%- include footer.html -%}

  {%- include searchCode.html -%}

</body>

</html>