<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

{%- include head.html -%}

<body>

  {%- include header.html -%}

  <div class="py-3">
    <div class="container">
      <div class="row" id="navigation" class="product_link">
        <h2>Our Products</h2>
      </div>
      <div class="row">
        <a href="{{site.baseurl}}/domino" class="btn btn-info">Domino</a>
        <a href="{{site.baseurl}}/connections" class="btn btn-info">Connections</a>
        <a href="{{site.baseurl}}/voltmx" class="btn btn-info">Volt MX</a>
      </div>
      <div class="row" id="navigation" class="product_link">
        <h2>Topics</h2>
      </div>
      <div class="row">
        <input type="text" id="quicksearch" placeholder="Search" />
      </div>
      <div class="row">
        <div class="btn-group filter-btn-group">
          <a class="btn btn-secondary" data-filter=".fork">forks</a>
          {% for topics in site.data.repoTopics %}
          {% assign topic = topics[1] %}
          <a class="btn btn-secondary" data-filter=".{{topic.name}}">{{topic.name}}</a>
          {% endfor %}
        </div>
      </div>


      <div class="grid row">
        {% assign repos = site.data.repoDataPublic | where:"private", false %}
        {% for repo in repos %}
          {% if repo.fork == true %}
            {% assign fork = " fork" %}
          {% else %}
            {% assign fork = "" %}
          {% endif %}
          <div class='col-md-3 repo{{fork}} {{repo.topics | join: " "}}' id="{{repo.name}}">
            <h4><a href="{{repo.url}}">{{repo.name}}</a></h4>
            {{repo.description}}<br />
            <b>License: </b>{{repo.license}}<br />
            <b>Topics: </b>{{repo.topics | array_to_sentence_string}}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  {%- include footer.html -%}


  <script src="http://code.jquery.com/jquery-3.1.0.min.js"
    integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/isotope-layout@3.0/dist/isotope.pkgd.js"></script>
  <script>
    // quick search regex
    var qsRegex;
    var filterValue;

    // init Isotope
    var $grid = $(".grid").isotope(
      { filter: function() {
        var $this = $(this);
        var searchResult = qsRegex ? $this.text().match( qsRegex ) : true;
        var buttonResult = filterValue ? $this.is( filterValue ) : true;
    return searchResult && buttonResult;
  }
    });
    // filter items on button click
    $(".filter-btn-group").on("click", "a", function () {
      var arr = [];
      $(".btn-group").find("a.active").map(function () {
        arr.push($(this).attr('data-filter'));
      })
      filterValue = (arr.length > 0) ? arr.join("") : "*";
      console.log(filterValue);
      //var filterValue = $(this).attr("data-filter");
      $grid.isotope();
    });
    // use value of search field to filter
    var $quicksearch = $('#quicksearch').keyup( debounce( function() {
      qsRegex = new RegExp( $quicksearch.val(), 'gi' );
      $grid.isotope();
    }) );
    $(".btn-group a.btn").on("click", function () {
      $(this).toggleClass("active");
      //$(".btn-group a.btn").removeClass("active");
      //$(this).addClass("active");
    });
    // debounce so filtering doesn't happen every millisecond
function debounce( fn, threshold ) {
  var timeout;
  threshold = threshold || 100;
  return function debounced() {
    clearTimeout( timeout );
    var args = arguments;
    var _this = this;
    function delayed() {
      fn.apply( _this, args );
    }
    timeout = setTimeout( delayed, threshold );
  };
}


  </script>
  <style type="text/css">
    a.btn.active {
      background: #F76B48;
      border: 1px solid #F76B48;
      color: #fff;
    }
  </style>

</body>

</html>